<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-engineer-heading" jhiTranslate="qmMigrationApp.engineer.home.createOrEditLabel">Create or edit a Engineer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qmMigrationApp.engineer.engMail" for="field_engMail">Eng Mail</label>
                    <input type="text" class="form-control" name="engMail" id="field_engMail"
                           formControlName="engMail"/>
                    <div *ngIf="editForm.get('engMail')!.invalid && (editForm.get('engMail')!.dirty || editForm.get('engMail')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('engMail')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qmMigrationApp.engineer.engName" for="field_engName">Eng Name</label>
                    <input type="text" class="form-control" name="engName" id="field_engName"
                           formControlName="engName"/>
                    <div *ngIf="editForm.get('engName')!.invalid && (editForm.get('engName')!.dirty || editForm.get('engName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('engName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qmMigrationApp.engineer.engLastName" for="field_engLastName">Eng Last Name</label>
                    <input type="text" class="form-control" name="engLastName" id="field_engLastName"
                           formControlName="engLastName"/>
                    <div *ngIf="editForm.get('engLastName')!.invalid && (editForm.get('engLastName')!.dirty || editForm.get('engLastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('engLastName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
