<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="engineer">
            <h2><span jhiTranslate="qmMigrationApp.engineer.detail.title">Engineer</span> {{engineer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qmMigrationApp.engineer.engMail">Eng Mail</span></dt>
                <dd>
                    <span>{{engineer.engMail}}</span>
                </dd>
                <dt><span jhiTranslate="qmMigrationApp.engineer.engName">Eng Name</span></dt>
                <dd>
                    <span>{{engineer.engName}}</span>
                </dd>
                <dt><span jhiTranslate="qmMigrationApp.engineer.engLastName">Eng Last Name</span></dt>
                <dd>
                    <span>{{engineer.engLastName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/engineer', engineer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
